/* Begin banner styles */
.contact-me-impactfultext-container {
  gap: 10px;
  display: flex;
  padding: 80px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-size: cover;
  justify-content: center;
  background-image: url("public/external/bannerContactMe.png");
}
 
.contact-me-impactfultext {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 76px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/* End banner styles */
 
.contact-me-page-container {
  gap: 10px;
  display: flex;
  padding: 24px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(245, 245, 245, 1);
}
 
.contact-me-page-description-container {
  gap: 10px;
  display: flex;
  padding: 24px 24px;
  align-items: center;
  justify-content: center;
}
 
.contact-me-page-description-text {
  color: rgba(0, 0, 0, 0.550000011920929);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 145.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
 
.contact-me-contact-form-container {
  gap: 24px;
  width: 800px;
  display: flex;
  padding: 0 24px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.contact-me-contact-form-row-container {
  gap: 8px;
  width: 700px;
  padding: 5px 0;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-me-body-text {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 140%;
}
 
.contact-me-input-text {
  color: rgba(179, 179, 179, 1);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}

.contact-me-text-area {
  color: rgba(30, 30, 30, 1);
  height: auto;
  z-index: 0;
  flex-grow: 1;
  text-align: left;
  line-height: 140%;
}
 
.contact-me-text {
  color: rgba(30, 30, 30, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/* Honey Pot field to trap spam bots */
.hidden-field {
  display: none !important;
  visibility: hidden;
} 

.status-message-container {
  padding-bottom: 20px;
}

