/* Begin banner styles */
.project-page-heading-container {
  gap: 10px;
  height: 250px;
  display: flex;
  z-index: 1;
  overflow: auto;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  flex: auto;
  padding-top: 80px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 80px;
  background-size: cover;
  background-image: url("public/external/bannerCirclesSageAndSisters.png");
}

.project-page-heading-text {
    color: rgba(255, 255, 255, 1); /* change text color to black or white depending on color of background image */
    height: auto;
    font-size: 76px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

/* End banner styles */

/* Responsive design styles */
@media (max-width: 600px) {
 .project-page-heading-container  {
    height: 125px;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 20px;
    padding-bottom: 24px;
  }
 
  .project-page-heading-text {
    height: 125;
    font-size: 36px;
  }
}


 

